@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Oswald:wght@300&family=Poppins:wght@500&family=Ubuntu&display=swap');


body {
    background-color: #F3F1FF;

    font-family: 'Poppins';
}

main {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

/* section */
.container {
    background-color: #FFFFFFFF;
    width: 870px;
    padding: 16px;
}

.section-title {
    color: #562EFF;
    font-size: 24px;
    margin-bottom: 30px;
}

/* .top-players */
.top-players {
    margin-bottom: 30px;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}

.player img {
    width: 56px;
    height: 56px;
}

.player {
    display: flex;
    align-items: center;
}

.player h3 {
    margin-left: 16px;
}

hr {
    border: 1px solid #D1D1D1;
}

/* blog */
.Top-blog {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}


.blogs {
    display: flex;
    align-items: center;
}

/* .thumbnail {} */

.thumbnail img {
    width: 177px;
    height: 117px;
}

.blog-info {
    margin-left: 10px;
}

.blog-title {
    color: #000000;

}

.blog-author {
    color: #D1D1D1;
}

.blog-author a {
    text-decoration: none;
}

/* ------------------------- 
                     courses style
--------------------------*/
.courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
}

.course .course-banner img {
    width: 266px;
    height: 141px;
}

.course-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fa-star.filled {
    color: #FFC014;
}

.fa-star.empty {
    color: #AEAEAE;
}

.course-duration {
    background-color: lightpink;
    border-radius: 5%;
}