@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Oswald:wght@300&family=Poppins:wght@500&family=Ubuntu&display=swap');


body {
    background-color: #F3F1FF;

    font-family: 'Poppins';
}

main {
    display: flex;
    justify-content: center;
}

.container {
    background-color: #FFFFFFFF;
    width: 870px;
    padding: 16px;
}

.section-title {
    color: #562EFF;
    font-size: 24px;
}

.top-players {
    margin-bottom: 30px;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}

.player img {
    width: 56px;
    height: 56px;
}

.player {
    display: flex;
    align-items: center;
}

.player h3 {
    margin-left: 16px;
}

hr {
    border: 1px solid #D1D1D1;
}

/* blog */
.top-blog {}

.blog-title {
    color: #562EFF;
    font-size: 24px;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.blog {
    display: flex;
    align-items: center;
}

.blog img {
    width: 177px;
    height: 117px;
}

.blog-subject {}

.Author {
    color: #9F9F9F
}

.Author a {
    text-decoration: none;
    color: indianred;
}